.login_form {
    width: 25vw;
    background-color: #f8f8f8;
    padding: 50px 0;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.27);
}
.form, .login_paragraph, .input_div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form { justify-content: center }
.login_input {
    width: 75%;
    border: none;
    background: #d8d8d8;
    font-size: 16px;
    padding: 5px;
    padding-right: 45px;
}
.btn {
    padding: 0;
    font-size: 12px !important;
}
.login_label {
    width: 75%;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    color: #4a4a4a;
}
.input_div{position: relative; }
.log_icon {
    border: solid rgba(255, 255, 255, 0) 1px;
    width: auto;
    font-size: 20px;
    position: absolute;
    right: 15%;
    cursor: pointer;
}
#login_request_response {
    font-size: 11px;
    font-weight: bold;
    text-align: left !important;
    width: 75%;
}