.AppTitle{
color: var(--green-color);
}
.underline{
    border-bottom: 3px solid var(--green-color);
}
.nav-item {
    height: 35px;
    padding: 0;
}
.nav-link {
    padding: 0;
    background-color: #DC0C3A;
}
@keyframes menu-indicator-animation  {
    from {
        width: 0;
    }
    to {
        width:  100%;
    }
}