.AppTitle{
color: var(--green-color);
}
.underline{
    text-decoration: underline;
    text-decoration-color: var(--green-color);
    text-decoration-thickness: 3px;
    text-underline-offset: 3px ;

}