.balance-div{
    display: flex;
    gap: 3rem;
    margin-bottom: 3rem;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

thead {
    background-color: #4CAF50;
    color: white;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 12px;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

tbody tr:hover {
    background-color: #ddd;
}

.title{
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}
.main_data {
    width: 100%;
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 120px;
    align-items: center;
}
.pie_responsive_container {
    background-color: rgba(170, 170, 170, 0.25);
    padding-top: 20px;
    border-radius:  15px;
}
text {
    font-size: 14px;
    font-weight:  bold;
    color: #818181;
}
div.balance td {
    font-weight: bold;
    color: #818181;
}